<div style="background-image: url(/img/images.jpeg);background-repeat: no-repeat;background-size: cover;">
    {{>header}}
</div>

<h1 class="container" style="text-align: center; margin-top:10%;">ABOUT</h1>
<p class="container" style="text-align: center;margin-top:-50px; padding:100px; ">Welcome to Job Hunt, your go-to destination for all things related to job hunting! Our mission is to empower job seekers like you with the tools, resources, and insights needed to navigate the ever-evolving job market and land your dream career.<br>

At Job Hunt, we understand that searching for a job can be overwhelming. That's why we've curated a comprehensive collection of articles, guides, and tips to help you at every stage of your job search journey. Whether you're a recent graduate, a seasoned professional looking for a career change, or someone re-entering the workforce, we've got you covered.<br>

From resume writing and interview preparation to networking strategies and personal branding, our team of experts is dedicated to providing you with the knowledge and support you need to succeed. We believe that everyone deserves to find fulfilling work that aligns with their passions and talents, and we're here to help you make that a reality.<br>

But Job Hunt is more than just a resource hub – it's a community. Connect with like-minded individuals, share your experiences, and learn from others who are on a similar journey. Together, we can support each other and celebrate our successes along the way.<br>

So whether you're just starting out or ready to take the next step in your career, join us at [Your Website Name] and let's embark on this adventure together. Your dream job is closer than you think!<br>
{{>footer}}