<html>

<head>
    <title>Arcade Quiz</title>
    <link rel="icon" href="/img/img1.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="../../public/js/app.js"></script>


    <style>
        .Card {
            border: 1px solid black;
            border-radius: 100px;
            padding: 0px 5px;
            width: 120px;
            margin: 30px;
        }


        .slide-container {
            padding: 20px;
            display: flex;
            width: calc(250px * 4);
            animation: scroll 20s linear infinite;
        }

        @keyframes scroll {
            0% {
                transform: translateX(0);
            }

            100% {
                transform: translateX(calc(-250px * 4));
            }
        }

        .slide-image {
            display: flex;
            align-items: center;
            padding: 15px;
            margin-top: -150px;
        }
    </style>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap JavaScript (optional if you're using dropdowns) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>




</head>

<body>
    <div style="background-image: url(/img/images.jpeg);background-repeat: no-repeat;background-size: cover;">
        {{>header}}</div>
    {{!-- </div>
    <div style="margin-top: -26px;">
        <img style="height: 60%; width:100%" src="/img/job1.jpg" alt="asdfghj">
    </div> --}}


    <div class="container-fluid"
        style="margin-top:-26px; text-align: center; background-image:url(/img/bgimg3.webp);background-repeat: no-repeat;background-size: cover;">

        <form action="showjobdetails">
            <div class="fs-3 fw-bold p-3">
                Introduction
            </div>
            <div class="p-3">
                <div class="text-center fs-8">Cultivating excellence in every endeavor, I embark on this journey
                    with fervor and purpose in my quest for the perfect fit. With a blend of skills honed
                    through experience and a relentless drive for success, I eagerly seek to contribute my
                    talents to an organization that values innovation, collaboration, and growth. Let this
                    application mark the beginning of an exciting partnership where mutual aspirations meet
                    boundless opportunities.</div><br> <br>
                <div class="row justify-content-center align-items-center p-3" style="margin-top: 100px;">
                    <div class="col-auto" style="background-color: blanchedalmond;">
                        <label for="name" class="form-label" style="margin-bottom: 8px;">Your Name:</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Ex. Jhon Doe"
                            required><br>

                    </div>
                    {{!-- <div class="col-auto" style="background-color: blanchedalmond;">
                        <label for="name" class="form-label">Your Skills:</label>
                        <input type="text" class="form-control" id="skills" name="name"
                            placeholder="Ex. Engineering"><br>

                    </div> --}}



                    <div class="dropdown col-auto" style="background-color: blanchedalmond; padding: 12px">
                        <label for="name" class="form-label">Your Skills:</label>
                        <input type="text" class="form-control btn dropdown-toggle" style="border-color: rgb(232, 227, 227); background-color: white"
                            id="dropdownPlaceholder" name="name" data-bs-toggle="dropdown" aria-expanded="false"
                            placeholder="Dropdown button">
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownPlaceholder">
                            <li><a class="dropdown-item" href="#">programming</a></li>
                            <li><a class="dropdown-item" href="#">management</a></li>
                            <li><a class="dropdown-item" href="#">marketing</a></li>
                            <li><a class="dropdown-item" href="#">academic advising</a></li>
                            <li><a class="dropdown-item" href="#">human resources</a></li>
                            <li><a class="dropdown-item" href="#">Nursing</a></li>
                            <li><a class="dropdown-item" href="#">sales and communication skills</a></li>
                            <li><a class="dropdown-item" href="#">medical coding and data analysis</a></li>
                            <li><a class="dropdown-item" href="#">financial and data analysis</a></li>
                        </ul>
                    </div>
                    <script>
                        document.addEventListener("DOMContentLoaded", function () {
                            const dropdownPlaceholder = document.getElementById('dropdownPlaceholder');
                            const dropdownItems = document.querySelectorAll('.dropdown-item');

                            dropdownItems.forEach(item => {
                                item.addEventListener('click', function () {
                                    dropdownPlaceholder.value = item.textContent.trim();
                                });
                            });
                        });
                    </script>


                </div>
                <div class="text-center"></div><br>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Show Job details</button>
                </div>
            </div>
        </form><br><br>
    </div>



    <div class="container" style="height: 350px;
            margin: auto;
            position: relative;
            width: 90%;
            display: grid;
            place-items: center;
            overflow: hidden;
            cell-spacing: 20px;
            margin-top: 50px"> Companies Visiting:
        <div class="slide-container">
            <div class="slide-image">
                <div class="Card">
                    <img src="/img/Amazon-logo.png" alt="">
                </div>
                <div class="Card">
                    <img src="/img/Accenture-logo.png" alt="">
                </div>
                <div class="Card">
                    <img src="/img/Cognizant-logo.png" alt="">
                </div>
                <div class="Card">
                    <img src="/img/Deloitte_Logo.png" alt="">
                </div>
                <div class="Card">
                    <img src="/img/ford.png" alt="">
                </div>
                <div class="Card">
                    <img src="/img/google.png" alt="">
                </div>
                <div class="Card">
                    <img src="/img/ibm.png" alt="">
                </div>
                <div class="Card">
                    <img src="/img/Pearson_logo.png" alt="">
                </div>
                <div class="Card">
                    <img src="/img/infosys.jpeg" alt="">
                </div>
                <div class="Card">
                    <img src="/img/images.png" alt="">
                </div>
                <div class="Card">
                    <img src="/img/Salesforce.png" alt="">
                </div>
                <div class="Card">
                    <img src="/img/TCS.jpg" alt="">
                </div>

            </div>
        </div>
    </div>



    {{!-- </div>
    <div class="col-1"></div>
    public, private
    constructor, deconstructor,
    this keyword,
    inheritance,

    --}}
    </div>
    <div class="container">
        {{>footer}}
    </div>
</body>

</html>